*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:black;
       color: #00FFFF;
    
}
h1 ,p , h6{
    text-align: center;
    font-family: cursive;

}
.button-container{
   display: flex;
   gap:20px;
   justify-content: center;
   
   
  
}
button{
    background-color:black;
    color: #00FFFF;
    border: 2px solid #00FFFF;
    padding: 10px 25px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 2px;
    transition: all 0.3s ease;
}

button:hover{
    background-color: #00FFFF;
    color: black;
}

.game-board{
    display: grid;
    grid-template-columns:repeat(3,0fr);
    justify-content: center;
}
.box{
border:2px solid #00FFFF;
width: 150px;
height: 150px;
}
.btn-container{
     justify-content: center;
     color: #00FFFF;
     display:flex;
      

}
.box img{
   width: 150px;
   height: 150px;
}
.score-board{
    display: flex;
   justify-content: center;
   gap:20px;
}
